ENVIRONMENT=local
DEBUG=True
PROJECT_NAME="Hands on FastAPI"
VERSION="0.1.0"
DESCRIPTION="Yet another FastAPI application"

# Database
ECHO_SQL=True
DATABASE_URL="sqlite+aiosqlite:///./database/sqlite.db"

# Test Containers
# Refer to https://java.testcontainers.org/supported_docker_environment/
DOCKER_HOST=unix://$HOME/.rd/docker.sock
TESTCONTAINERS_DOCKER_SOCKET_OVERRIDE=/var/run/docker.sock
TESTCONTAINERS_HOST_OVERRIDE=$(rdctl shell ip a show vznat | awk '/inet / {sub("/.*",""); print $2}')
